.pokemon-card {
    align-items: center;
    display: flex;
    border-radius: 40px;
    box-shadow: -1px 1px 10px 6px rgb(0 0 0 / 25%), -5px -5px 30px 3px rgb(0 0 0 / 22%);
    flex-wrap: wrap;
    height: 345px;
    justify-content: center;
    margin: 30px auto;
    transition: 0.4s;
    width: 250px;
}

.pokemon-card:hover {
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
    cursor: pointer;
    transform: scale(0.9, 0.9);
}

.card-image {
    border-radius: 40px 40px 0px 0px;
    display: flex;
    height: 160px;
    justify-content: center;
    margin-top: 5px; 
    width: 100%;
}

.image-font {
    height: 200px;
    opacity: 0.3;
    position:absolute;
    width: 200px;
    z-index: -1;
}

.image-pokemon {
    height: 215px;
    position: absolute;
    width: 215px;
    z-index: 1;
}

.card-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.poke-id {
    width: 100%;
}

h5 {
    color: #919191;
    font-family: sans-serif; 
    font-size: 18px;
    margin-left: 10px;
    padding-top: 2px;
}

.pokemon-name {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    letter-spacing: 2px;
    margin-top: 12px;
    width: 100%;
}

h3 {
    color: #313131;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.abilities-container {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-top: 4px;
    width: 100%;
}

.ability {
    align-items: center;
    border-radius: 15px;
    color: white;
    display: flex;
    font-size: 20px;
    height: 35px;
    justify-content: center;
    margin: auto;
    letter-spacing: 1px;
    width: 75px;
    
}

@media all and (max-width: 1150px) {
    .pokemon-card {
        width: 275px;
    }
}

@media all and (max-width: 930px) {
    .pokemon-card {
        width: 295px;
    }
}

@media all and (max-width: 690px) {
    .pokemon-card {
        height: 360px;
        width: 400px;
    }

    .pokemon-name {
        height: 80px;
    }

    h5 {
        font-size: 22px;
        margin-left: 16px;
        padding-top: 4px;
    }

    h3 {
        font-size: 40px;
    }

    .abilities-container {
        margin-bottom: 10px;
        margin-top: 6px;
    }

    .ability {
        height: 40px;
        width: 116px;
    }

    h6 {
        font-size: 16px;
    }

}

@media all and (max-width: 500px) {
    .pokemon-card {
        height: 417px;
	    width: 307px;
    }

    h3 {
        font-size: 30px;
    }

}